{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true,
  },
  "extends": "idiomatic",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "rules": {
    "one-var": 0,
    "vars-on-top": 0,
    }
}
